@import 'https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap';
@import 'https://fonts.cdnfonts.com/css/helvetica-neue-55';
@import 'https://fonts.cdnfonts.com/css/sf-pro-display';
footer {
  display: flex;
  flex-direction: column;
}
footer #section-benefits {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 140px;
  background-image: url("/fundamentals-project-template/src/assets/img/our-benefits-bg.png");
  color: #FFF;
}
footer #section-benefits h4 {
  width: 100%;
  text-align: start;
  font-family: "SF Pro Display", sans-serif;
  font-weight: 700;
  font-size: 19px;
}
footer #section-benefits .benefits-block {
  width: 25%;
  text-align: center;
  display: flex;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 14px;
}
footer #section-benefits .benefits-block img {
  width: 60px;
  height: 60px;
}
footer #footer-info-section {
  display: flex;
  justify-content: space-between;
  padding: 130px 130px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #000;
}
footer #footer-info-section h5 {
  font-weight: 700;
  padding: 0 0 18px;
  margin: 0;
}
footer #footer-info-section #footer-menu {
  display: flex;
  width: 500px;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer #footer-info-section #footer-menu ul {
  padding: 0;
}
footer #footer-info-section #footer-menu ul :hover {
  cursor: pointer;
}
footer #footer-info-section #footer-menu ul li {
  list-style: none;
  margin: 5px 0 0;
}
footer #footer-info-section #footer-menu ul li a {
  text-decoration: none;
  color: #000;
}
footer #footer-info-section #footer-menu #shipping {
  margin-top: 50px;
}
footer #footer-info-section #contact-footer {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer #footer-info-section #contact-footer #contact-from-footer {
  cursor: pointer;
}
footer #footer-info-section #contact-footer #contacts-info-footer {
  display: flex;
  flex-wrap: wrap;
}
footer #footer-info-section #contact-footer #contacts-info-footer .info {
  width: 50%;
  padding: 3% 0;
  display: flex;
  align-items: center;
}
footer #footer-info-section #contact-footer #contacts-info-footer .info span {
  display: inline-block;
  padding: 0 5%;
}
footer #copyright {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #727174;
  padding-top: 110px;
}

@media screen and (width <= 1199px) {
  footer #section-benefits {
    padding: 30px 80px;
  }
  footer #section-benefits h4 {
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 17px;
  }
  footer #section-benefits .benefits-block {
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 1px;
  }
  footer #section-benefits .benefits-block img {
    width: 50px;
    height: 50px;
  }
  footer #footer-info-section {
    padding: 80px 80px 0;
  }
  footer #footer-info-section #footer-menu {
    width: 450px;
  }
  footer #footer-info-section #footer-menu #shipping {
    margin-top: 30px;
  }
  footer #footer-info-section #footer-menu #shipping h5 {
    font-size: 15px;
  }
  footer #footer-info-section #contact-footer #contacts-info-footer {
    display: flex;
    flex-direction: column;
  }
  footer #footer-info-section #contact-footer #contacts-info-footer .info {
    width: 100%;
  }
}
@media screen and (width <= 991px) {
  footer #section-benefits {
    padding: 10px;
  }
  footer #section-benefits h4 {
    padding-left: 20px;
    font-size: 17px;
  }
  footer #section-benefits .benefits-block {
    padding: 10px;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 14px;
  }
  footer #section-benefits .benefits-block img {
    width: 60px;
    height: 60px;
  }
  footer #footer-info-section {
    padding: 10px 20px;
    font-size: 15px;
  }
  footer #footer-info-section #footer-menu {
    width: 500px;
  }
  footer #footer-info-section #shipping {
    margin-top: 50px;
  }
  footer #copyright {
    padding-top: 50px;
  }
}
@media (width <= 767px) {
  footer #section-benefits {
    padding: 15px;
  }
  footer #section-benefits h4 {
    width: 100%;
    font-size: 14px;
  }
  footer #section-benefits .benefits-block {
    width: 25%;
    font-size: 13px;
  }
  footer #section-benefits .benefits-block img {
    width: 40px;
    height: 40px;
  }
  footer #footer-info-section {
    width: 75%;
    margin: 15px auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  footer #footer-info-section #footer-menu #shipping {
    margin-top: 30px;
  }
  footer #footer-info-section #contact-footer {
    width: 100%;
    margin-top: 20px;
  }
}/*# sourceMappingURL=footer.css.map */