@use '../abstracts/variables' as var;

header{
    width: 88%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 140px;
    
    #name-content {
        padding-top: 10px;
        display: flex;
        justify-content: space-between;

        #social-networks,
        #user-block{
            height: 50px;
            display: flex;
            align-items: center;
        
        #login{
            width: max-content;
           text-decoration: none;
           height: 28px;

            &:hover{
                cursor: pointer;
            }

                svg{
                    display: inline-block;
                }}
            }

            #open-cart:hover{
                cursor: pointer;
            }

            #quantity-in-card{
                text-align: center;
                border: 1px solid var.$pink;
                border-radius: 50%;
                color: var.$pink;
                font-size: 12px;
                width:max-content;
                padding: 0 3px ;
                font-weight: 600;
                position: relative;
                left: 20px;
            }
        }

    #logo:hover{
        cursor: pointer;
    }

    #header-menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        font-size: 18px;
        margin: 30px auto;
        gap: 30px;

        a{ 
            text-decoration: none;
            color: var.$black;
        }

        .active-menu{
            color: var.$pink;
        }

        #catalog {
            margin-right: 3px;
        } 
    }
}

 #popup{
        width: 380px;
        height: auto;
        position: absolute;
        top: 10%;
        left: 70%;
        background-color: var.$white;
        z-index: 100;

    .popup-content{
        width: 340px;
        margin: 50px auto;
                
    form{
        display: grid;

    input{
        width: 100%;
        border: 1px solid var.$pink;
                }

    .required-snow{
        color: var.$pink;
                }

    #wrapper-for-email{
        grid-column: 1/3;
        grid-row: 1/2;
                }

    #wrapper-for-password{
        grid-column: 1/3;
        grid-row: 2/3;

        #togle-password{
        position: relative;
        left: 89%;
        top: -57%;
        width: 20px;
        cursor: pointer;
        color: var.$light-grey;
                    }
                }

    #wrapper-for-checkbox{
        grid-column: 1/2;
        grid-row: 3/4;

    input{
            width: 20px;
            margin: 0;
            display: inline-block;
                    }

    label{
        color: var.$light-grey;
        font-size: 11px;
        font-weight: 400;
                    }
                }

    .forgot-password{
        grid-column: 2/3;
        grid-row: 3/4;
        color: var.$pink;
        font-size: 11px;
        font-weight: 700;
        text-decoration: none;
                }

    #login-button{
        grid-column: 1/3;
        grid-row: 4/5;
        text-transform: uppercase;
        width: 100%;
        height: 40px;
}       
}
}}

@media screen and (width <= 1199px){
#popup{
    width: 270px;

   .popup-content{
    width: 250px;
    margin: 10px auto;
                
    form{
    input{
        margin-bottom: 10px;
        }

    #wrapper-for-password{ 
    #togle-password{
    left: 14rem;
    top: -43%;
                    }
                }
    
    #login-button{
    height: 30px;
}       
}
}}
}

@media screen and (width <= 991px){
 #popup{
        width: 250px;
        top: 8%;
        left: 73%;

    .popup-content{
        width: 250px;
        margin: 10px auto;
                
    form{
    #wrapper-for-password{
        #togle-password{
        left: 13.5rem;
        top: -44%;
                    }
                }

    #login-button{
        height: 20px;
}       
}
}}
}

@media (width <= 767px) { 
    #header-content{
    width: 88%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100px;
    
    #name-content {
        padding-top: 10px;
        display: flex;
        justify-content: space-between;

        #social-networks,
        #user-block{
            display: flex;
            align-items: center;

            svg{
                height: 25px;
                width: 25px;
            }

            #cart-icon{
                height: 35px;
            }
        
        #login{
           height: 20px;
                }
            }

    #logo{
        height: 30px;
        width: 200px;
    }
           
    #quantity-in-card{
        font-size: 9px;
        top: 8px;
            }
        }

    #header-menu {
        margin: 10px auto;
        gap: 30px; 
    }
}

 #popup{
        width: 270px;
        top: 6%;
        left: 54%;
     
    .popup-content{
        width: 250px;
        margin: 10px;
                
    form{
    #wrapper-for-password{
        #togle-password{
        left: 14rem;
        top: -44%;
        width: 20px;
                    }}

    #login-button{
        height: 20px;
}       
}
}}
 }