@use "../abstracts/variables"as var;


#cart{
  display: flex;
  flex-direction: column;
    width: 100%;

    #card-bg{
        background: no-repeat center/100% url("/fundamentals-project-template/src/assets/img/cart-bg.png");
        margin: 10px 0;
        height: 200px;

        h3{
            color: var.$white;
            text-align: center;
            font-size: 50px;
            font-weight: 700;
            padding-top: 50px;
        }
    }

    #cart-content{
        width: 80%;
        margin: 70px auto;

        #menu{
            display: flex;
            background-color: var.$grey;
            color: var.$white;
            height: 60px;
            text-transform: uppercase;
            justify-content: space-between;
            align-items: center;
            font-size: 18px;
            font-family: var.$fourth-font;
            font-weight: 700;
           
            .menu{
                padding: 0 10px;
            }

            #prod-image{
               width: 120px;
            }

            #prod-name{
             width: 160px;
            }
        }

        #product-in-cart{
            .empty-cart{
                text-align: center;
                font-size: 20px;
                font-weight: 700;
                color: var.$grey;
                padding-top: 20px;

            }

            .prouct-container{
                display: flex;
                justify-content: space-between;
                align-items: center;
                border: 2px solid var.$pink;
                border-top: none;
                border-left: none;
                border-right: none;
                padding: 10px;
                font-family: var.$fourth-font;
                font-weight: 700;
                font-size: 18px;

                .product-name{
                width: 150px;
                
                span{
                    font-size: 16px;
                    font-weight: 400;
                }
                }

                img{
                    width: 100px;
                    height: 120px;
                }

                .quantity-block{
                    font-size: 20px;

                    button{
                        width: 35px;
                        height: 35px;
                        background-color: var.$white;
                        color: var.$black;
                        font-size: 25px;

                        &:hover{
                            cursor: pointer;
                        }
                    }
                }

                .delete-btn{
                    background-color: var.$white;
                    width: 30px;
                    height: 30px;

                    svg{
                        width: 30px;
                        height: 30px;
                        fill: none;
                    }

                    svg:hover{
                        cursor: pointer;
                     }
                }
                
            }
        }
        
    }

  #cart-buttons{
    display: grid;
            width: 80%;
            margin: 15px auto 120px;
            justify-content: space-between;

            button{
                grid-row: 1/2;  
                text-transform: uppercase; 
            }

             #total-sum-block{
                grid-row: 1/3;
                grid-column: 7/8;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                color: var.$white;
                font-size: 17px;
                font-weight: 700;
                width: 570px;
                height: 360px;
                padding: 40px;
                background-color: var.$grey;

                .total-sum-info{
                    display: flex;
                    justify-content: space-between;
                }

                div{
                    border: 1px solid var.$pink;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                }

                #total{
                    font-size: 20px;
                }
                
            }
        }
}


@media screen and (width <= 1199px){
#cart{
#card-bg{
    h3{
        font-size: 35px;
        }
    }

#cart-content{
        width: 90%;
        margin: 40px auto;

    #menu{
        height: 50px;
        font-size: 16px;
        font-weight: 500;
          
    #prod-image{
        width: 100px;
        }

    #prod-name{
        width: 160px;
            }
        }

    #product-in-cart{
    .empty-cart{
        font-size: 18px;
            }

    .prouct-container{
        font-size: 16px;

    .product-name{
        width: 150px;

    span{
        font-size: 14px;
    }
    }

    img{
        width: 100px;
        height: 120px;
}

    .quantity-block{
        font-size: 18px;

    button{
        width: 30px;
        height: 30px; 
    }
    }

    .delete-btn{
      svg{
        height: 25px;
        width: 25px;
      }


}
                 } }
         }

  #cart-buttons{
        width: 90%;
        margin: 15px auto 80px;
           
    // button{
    //     width: 160px;
    //     height: 50px;   
    //     font-size: 12px;
    //     font-weight: 500;
    // }

    #total-sum-block{
        font-size: 15px;
        font-weight: 500;
        width: 370px;
        height: 300px;
        padding: 20px;

    #total{
        font-size: 16px;
} 
            }
        }
}
}

 @media (width <= 767px){
#cart{
    #card-bg{
        height: 100px;

        h3{
            font-size: 20px;
            padding-top: 25px;
        }
    }

    #cart-content{
        margin: 10px auto;

        #menu{
            height: 30px;
            font-size: 12px;
            font-weight: 500;

            #prod-image{
               width: 100px;
            }

            #prod-name{
             width: 120px;
            }
        }

        #product-in-cart{
            .empty-cart{
                font-size: 16px;
                font-weight: 500;
                padding-top: 10px;
            }

            .prouct-container{
                font-weight: 500;
                font-size: 14px;

                .product-name{
                width: 120px;
                
                span{
                    font-size: 12px;
                    font-weight: 400;
                }
                }

                img{
                    width: 80px;
                    height: 100px;
                }

                .quantity-block{
                    font-size: 16px;

                    button{
                        width: 18px;
                        height: 18px;
                        font-size: 18px;
                    }
                }

    .delete-btn{
    svg{
        width: 17px;
        height: 17px;
                    }

                }
                
            }
        }
        
    }

  #cart-buttons{
            margin: 15px auto;
            justify-content: center;
           font-size: 12px;
            
             #continue-shopping{
                grid-column: 1/2;
             }

             #clear-cart{
                 grid-column: 4/5;
             }
            
             #total-sum-block{
                margin-top: 15px;
                grid-row: 3/4;
                grid-column: 1/5;
                font-size: 12px;
                font-weight: 500;
                width: 400px;
                height: 200px;
                padding: 10px;
}

    #total{
                    font-size: 13px;
                }
        }
}
 }