@use "variables" as var;

.sale{  
        position: relative;
        width: 54px;
        height: 28px;
        font-weight: 700;
        background-color: var.$pink;
        color: var.$white;
        display: inline-block;
        text-align: center;
        justify-content: center;
        z-index: 1;
}

.offer-block{
    background-image: url("./src/assets/img/offer.jpg");
           width: 80%;
           display: grid;
           grid-template-columns: repeat(2, 1fr);
           height: 400px;
           margin: 0 auto 120px;
           justify-content: space-between;
           align-items: center;
           color: var.$white;
}

.secondary-font{
    font-size: 17px;
    font-weight: 400;
}