@use '../base/fonts';

$primary-font: 'Montserrat', sans-serif;
$secondary-font: "Helvetica Neue", sans-serif;
$third-font: "Inter", sans-serif;
$fourth-font: 'SF Pro Display', sans-serif;
$pink: #B92770;
$white: #FFF;
$white-grey: #E9E9ED;
$black: #000;
$grey: #504e49;
$light-grey: #727174;
$box-shadow: 0px 20px 80px 0px #C1C7D4B3;